* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Teko', sans-serif;
}

h2 {
    font-size: 56px;
    line-height: .9em;
}

h3 {
    font-size: 40px;
}

h5 {
    font-size: 26px;
}

.special-font{
    font-size: 32px;
    font-family: 'Shadows Into Light', cursive;
    color: #017d53;
    padding-bottom: 20px;
    line-height: 1.2em;

}

p, .days {
    color: #777;
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    line-height: 27px;
    font-weight: 400;
}

.top{
    position: relative;
    text-align: center;
    color: white;
    z-index: -1;
}

.logo-main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
    font-weight: 500;
    

}

nav {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    padding-top: 10px;
}

.nav-links {
    display: flex;
    justify-content:space-around;
    font-size: 30px;
    color: white;
    font-weight: 500;
    list-style: none;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link.active{
    border-bottom: 5px solid white
}



.main-imagecontainer{
    height: 100vh;
    min-height: 400px;
    width: 100%;
    background-image: url(images/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: local;
}

.section1{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 1;
    width:80%;
}



.background-image{
    height: 70vh;
    min-height: 800px;
    width: 100%;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: local;
}



.section1-column1, .section1-column2, .section1-column3{
    flex:1;
}

.section1-column2, .section1-column3 {
    padding-left: 50px;
}


.section1-backgroudImage{
    position: relative;
}


.section1-column1-openningHours{
    padding-top: 30px;
}

.section1-relax{
    margin-bottom: 50px;
}

.section1-cocktails{
    margin-bottom: 50px;
}

.section2-WineImage{
    position: relative;
    margin-bottom: 100px;
}

.section2 {
    text-align: center;
    position: absolute;
    top: 15%;
    left: 10%;
    background-color: white;
    width: 400px;
    height: 400PX;
    padding: 0px 50px 20px 30px;
      
}

.section2 h6 {
    padding-top: 20px;
    font-size: 15px;
    line-height: 1.125em;
    letter-spacing: .15em;
    font-weight: 600;
}

.wine-image {
    height: 90vh;
    min-height: 550px;
    width: 100%;
    background-image: url(images/story.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: local;
}
    

.section3 {
    width: 80%;
    margin: auto;
    display: flex;
    padding-bottom: 80px;
    justify-content: center;
}

.section3-column2 {
    margin-left: 50px;
}




.entertainment, .boardgames, .billiards, .darts{
    padding: 20px;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    height: 238px;
    width: 634px;
    align-content: center;
}

.entertainment, .billiards {
    margin-bottom: 50px;
}




footer {
    background-color: #1b1b1b;
    padding-bottom: 5%;
    padding-top: 2%;
}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: #1b1b1b;
    color: white;
    width: 90%;
    margin: auto;
}

.socialMediaIcons {
    display: flex;
    margin-top: 20px;
}

.socialMediaIcon {
    height: 20px;
    margin-right: 40px;
}

.days li {
    list-style: none;
}

.footer-column1,.footer-column2,.footer-column3,.footer-column4 {
    flex:1;
}

.footer-column2,.footer-column3,.footer-column4 {
    margin-left: 30px;
}

@media screen and (max-width: 1450px) {
    .entertainment, .boardgames, .billiards, .darts{
        padding: 40px;
        border-style: solid;
        border-radius: 10px;
        text-align: center;
        height: 258px;
        width: 534px;
        align-content: center;
    }
}

@media screen and (max-width: 1080px) {
    .section1 {
        flex-direction: column;
        position: absolute;
        top: 20px;
        left: 10%;
        z-index: 1;
        width:80%;
        
    }
    

    
    .section1-column1 {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

    .background-image{
        height: 70vh;
        min-height: 1180px;
        width: 100%;
        background-image: url(images/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: local;
    }

    .section1-column2, .section1-column3 {
        padding-left: 0px;
    }

    .section1-relax, .section1-cocktails, .section1-entertainment, .section1-food {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .section3 {
        flex-direction: column;
        align-items: center;
    }

    .entertainment, .boardgames, .billiards, .darts{
        padding: 40px;
        border-style: solid;
        border-radius: 10px;
        text-align: center;
        height: 250px;
        width: 450px;
        align-content: center;
    }

}

@media screen and (max-width: 520px) {

    h2 {
        font-size: 42px;
        font-weight: 400;
    }

    p {
        font-size: 15px;
    }

    .background-image{
        height: 70vh;
        min-height: 1350px;
        width: 100%;
        background-image: url(images/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: local;
    }
    
    main, .footer, .section1, .section3 {
        flex-direction: column;
    }
    .section1-backgroudImage{
        flex-direction: column;
    }

    .section1{
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        top: 2%;
        left: 10%;
        z-index: 1;
        width:80%;
    }

    .section1-column2, .section1-column3 {
        padding-left: 2%;
    }

    .section1-relax, .section1-cocktails, .section1-entertainment, .section1-food {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .wine-image {
        height: 90vh;
        min-height: 1000px;
        width: 100%;
        background-image: url(images/story.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: local;
    }


    .section2 {
        text-align: center;
        position: absolute;
        top: 10%;
        left: 10%;
        background-color: white;
        width: 255px;
        height: 600PX;
        padding: 0px 50px 20px 30px;
    }

    .section2 h3 {
        padding: 20px 0px 0px 0px;
        text-decoration: underline;
    }
    
    
    .entertainment, .boardgames, .billiards, .darts{
        padding: 40px;
        border-style: solid;
        border-radius: 10px;
        text-align: center;
        height: 258px;
        width: 420px;
        align-content: center;
    }

    footer {
        padding-top: 5%;
    }
    .footer-column1, .footer-column2,.footer-column3,.footer-column4 {
        margin-left: 5%;
        margin-bottom: 15%;
        
    }
  }


  
  @media screen and (max-width: 500px) {

    h2 {
        font-size: 42px;
        font-weight: 400;
    }

    p {
        font-size: 15px;
    }

    .logo-main{
        font-size: 90px;
    font-weight: 500;
    }

    .background-image{
        height: 70vh;
        min-height: 1350px;
        width: 100%;
        background-image: url(images/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: local;
    }
    
    main, .footer, .section1, .section3 {
        flex-direction: column;
    }
    .section1-backgroudImage{
        flex-direction: column;
    }

    .section1{
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        top: 2%;
        left: 10%;
        z-index: 1;
        width:80%;
    }
    .section1-column1 {
        display: flex;
        flex-direction: column;
    }
    .section1-column2, .section1-column3 {
        padding-left: 2%;
    }

    .section1-relax, .section1-cocktails, .section1-entertainment, .section1-food {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .wine-image {
        height: 90vh;
        min-height: 1000px;
        width: 100%;
        background-image: url(images/story.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: local;
    }


    .section2 {
        text-align: center;
        position: absolute;
        top: 10%;
        left: 10%;
        background-color: white;
        width: 255px;
        height: 600PX;
        padding: 0px 50px 20px 30px;
    }

    .section2 h3 {
        padding: 20px 0px 0px 0px;
        text-decoration: underline;
    }
    
    
    .entertainment, .boardgames, .billiards, .darts{
        padding: 40px;
        border-style: solid;
        border-radius: 10px;
        text-align: center;
        height: 258px;
        width: 420px;
        align-content: center;
    }

    footer {
        padding-top: 5%;
    }
    .footer-column1, .footer-column2,.footer-column3,.footer-column4 {
        margin-left: 5%;
        margin-bottom: 15%;
        
    }


    .section3{
        align-items: center;
    }

    .section3-column2 {
        margin-left: 0px;
    }

    .entertainment, .boardgames, .billiards, .darts{
        padding: 40px;
        border-style: solid;
        border-radius: 10px;
        text-align: center;
        height: 288px;
        width: 258px;
        align-content: center;
    }

    
    .billiards {
        margin-top: 50px;
    }
  }
